<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Lichtkrantcontroller</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <!-- endbower -->

    <link rel="stylesheet" href="styles/main.css">

</head>
<body ng-app="lichtkrantControllerApp" ng-controller="lichtkrantControllerCtrl">

<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#">Lichtkrantcontroller</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <!--<span class="caret"></span>--></a>
                    <div class="dropdown-menu">
                        <div style="margin : 3px 20px; white-space: nowrap">
                            <h4><span class="glyphicon glyphicon-folder-open" style="margin-right: 12px;"></span>Load a
                                show from file</h4>
                            <form name="uploadShowForm">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse&hellip;
                                                <input type="file" ngf-select
                                                       ng-model="showFile" name="file" accept="text/plain"
                                                    required/>
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly style="min-width: 100px;">
                                    </div>
                                </div>
                                <input class="btn btn-primary" type="button" value="Open"
                                       ng-disabled="!uploadShowForm.$valid" ng-click="uploadShow(showFile)">
                            </form>
                        </div>
                        <div class="divider"></div>
                        <div style="margin : 3px 20px; white-space: nowrap">
                            <h4><span class="glyphicon glyphicon-info-sign" style="margin-right: 12px;"></span>About
                            </h4>
                            <p>
                                <strong>Lichtkrantcontroller v...</strong><br/>
                                &copy; 2016 Jonas Koperdraat
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div ng-repeat="page in showData.pages">
        <div ng-if="page.isNext" class="controls pull-left">
            <div><a href="" name="upArrow" ng-click="moveNextPointerTo($index-1)"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
            <div><a href="" name="goToPage" ng-click="goToPage($index)"><span class="glyphicon glyphicon-play"></span></a></div>
            <div><a href="" name="downArrow" ng-click="moveNextPointerTo($index+1)"><span class="glyphicon glyphicon-chevron-down"></span></a></div>
        </div>
        <div class="well well-sm" style="margin-left : 30px;"
             ng-class="{'current': page.isCurrent, 'next': page.isNext}">{{page.content ? page.content : '&nbsp;'}}</div>
</div>

<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<!-- endbower -->

<!--<script src="scripts/app.js"></script>-->
<script src="scripts/lichtkrantcontroller.js"></script>

</body>
</html>
