.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

body {
    background: #000 !important;
    padding-top : 70px;
}

.well {
    background: #111;
    border-color: #222;
    color: #999;
    font : 2em courier, monospace;
}

.well.current {
    color:  #F00;
}

.well.next {
    color: #337AB7;
}