.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

body {
    background: #000 !important;
    padding-top : 70px;
}

.well {
    background: #111;
    border-color: #222;
    color: #999;
    font : 2em courier, monospace;
}

.well.current {
    color:  #F00;
}

.well.next {
    color: #337AB7;
}

.btn.btn-primary {
    background-color: hsla(208,56%,19%,1);
    border-color: hsla(208,65%,28%,1);
    color: #999999;
}

.dropdown-menu.navbar-inverse {
    color: #999999;
}

.dropdown-menu .divider {
    background-color: #444;
}

input.form-control {
    background-color: #999 !important;
    border-color:  #AAA;
    color: #222;
}